.news {
  height: 500px;
  padding-top: 50px;
  overflow: hidden;
}
.news-cards .owl-item .item {
  width: 350px;
  height: 400px;
  margin-right: 40px;
  margin-left: 40px;
  position: relative;
}
.news-card {
  height: 100%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(212 212 212 / 35%);
}
.news-card:hover .news-img img {
  transform: scale(1.1);
  transition: transform 1s ease;
}
.news-title {
  font-weight: 600;
  font-size: 20px;
  color: #2c3e50;
}
.news-content {
  color: #787878;
}
.news-title:hover {
  color: #281483;
}
.news-img {
  overflow: hidden;
}
.news-img img {
  width: 100%;
  height: 200px;
  transition: all 1s ease;
}
.news-body {
  padding: 20px 10px;
}
.news-body a {
  text-decoration: none;
  color: #281483;
}

.news-container .owl-nav {
  position: absolute;
  right: 48%;
  bottom: -55px;
}
.news-container .owl-nav button {
  width: 40px;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.news-container .owl-nav span {
  font-size: 40px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  position: absolute;
  bottom: -30px;
  background-color: rgb(204, 197, 197);
  color: #281483;
}
.news-container .owl-nav button:focus span {
  background-color: #281483;
  color: white;
}
.news-container .owl-nav button:hover span {
  background-color: #281483;
  color: white;
}

@media only screen and (max-width: 650px) {
  .news-cards .owl-item .item {
    margin: 0 auto;
  }
  .news-container .owl-nav {
    right: 35%;
  }
  .news {
    overflow: hidden;
    height: 500px;
  }
}
@media (min-width: 651px) and (max-width: 992px) {
  .news-container .owl-nav {
    right: 45%;
  }
  .news-cards .owl-item .item {
    width: 350px;
    height: 400px;
    margin-right: 0px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
